@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edede4;
    font-size: 13px;
    color: #222;
}
#wrapper {
    width: 600px;
    margin: 190px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}
#title {
    margin-bottom: 1.5em;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}
#title h1 {
    font-weight: bolder;
    font-size: 30px;
    line-height: 1;
}
#title h2 {
    font-weight: lighter;
    font-size: 14px;
}
#screen {
    height: 40px;
    padding: 2px;
    margin-left: 6px;
    appearance: none;
    background-color: #fff;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #efefef, inset 2px 2px #0a0a0a;
    box-sizing: border-box;
    padding: 3px 4px;
    border: none;
    font-size: 12px;
}
#calculator {
    display: grid;
    grid-template-columns: auto 40px;
    grid-template-rows: 70px auto;
    justify-items: center;
    align-items: center;
    grid-gap: 0.5em;
    padding: 10px 6px;
    height: 260px;
    border: 1px ridge #000;
    border-radius: 6px;
}
#clear, #operator {
    display: flex;
    gap: 0.5em;
    flex-direction: column; 
}
#operator button, #clear button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: light;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    box-sizing: border-box;
    color: transparent;
    text-shadow: 0 0 #000;
}
#operator button:active, #clear button:active, #number button:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222;
}
#operator button:focus, #clear button:focus, #number button:active {
    outline: 1px dotted #000;
    outline-offset: -4px;
}
#number {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
#number button {
    width: 40px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    box-sizing: border-box;
    color: transparent;
    text-shadow: 0 0 #000;
}
#number button:hover {
    background-color: #ddd;
    font-weight: bold;
}
#equal {
    background-color: #ccc;
}


#links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
#links a{
    font-family: "Pixelify Sans", sans-serif;
    text-decoration: none;
    color: #000;
}
#links a:hover {
    text-decoration: underline;
}
#links img {
    width: 20px;
    height: 20px;
}