@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edede4;
    font-size: 13px;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 3em;
}
#wrapper {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
#title {
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    color: #fa7292;
}
#title h1 {
    font-weight: bolder;
    font-size: 30px;
    line-height: 1;
}
#title h2 {
    font-weight: lighter;
    font-size: 14px;
}
#calculator {
    display: grid;
    grid-template-columns: auto 40px;
    grid-template-rows: 70px auto;
    justify-items: center;
    align-items: center;
    grid-gap: 0.5em;
    padding: 10px 6px;
    height: 260px;
    border: none;
    appearance: none;
    border-radius: 8px;
    box-shadow: inset -1.5px -1.5px #912445, inset 1px 1px #fff, inset -2px -2px #e7cad3, inset 2px 2px #f0e7e7, 3px 3px 6px #cbc3bb52, -1px -1px 6px #cbc3bb52;
    background-color: #fee8ef;
}
#screen {
    height: 40px;
    padding: 2px;
    margin-left: 6px;
    appearance: none;
    background-color: #fff;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #f7eded, inset -2px -2px #efe9e9, inset 2px 2px #a84c68;
    box-sizing: border-box;
    padding: 3px 4px;
    border: none;
    font-size: 12px;
}
#clear, #operator {
    display: flex;
    gap: 0.5em;
    flex-direction: column; 
}
#operator button, #clear button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: light;
    border: none;
    border-radius: 0;
    background-color: #fde7ed;
    box-shadow: inset -1px -1px #912445, inset 1px 1px #fff, inset -2px -2px #cf899e, inset 2px 2px #fdc8d6;
    box-sizing: border-box;
    color: transparent;
    text-shadow: 0 0 #000;
}
#operator button:active, #clear button:active, #number button:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #912445, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222;
}
#operator button:focus, #clear button:focus, #number button:focus {
    outline: 1px dotted #b81949;
    outline-offset: -4px;
    font-weight: bold;
}
#number {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
#number button {
    width: 40px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: #fde7ed;
    box-shadow: inset -1px -1px #912445, inset 1px 1px #fff, inset -2px -2px #cf899e, inset 2px 2px #fdc8d6;
    box-sizing: border-box;
    color: transparent;
    text-shadow: 0 0 #000;
}
#number button:hover, #operator button:hover, #clear button:hover  {
    background-color: #fdc8d6;
}
#result {
    background: #fcc4d1!important;
}
#links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
#links a {
    font-family: "Pixelify Sans", sans-serif;
    text-decoration: none;
    color: #fa7292;
}
#links a:hover {
    text-decoration: underline;
}
#links img {
    width: 20px;
    height: 20px;
    filter: invert(49%) sepia(97%) saturate(303%) hue-rotate(297deg) brightness(97%) contrast(102%);
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    #calculator {
        grid-template-columns: auto auto;
        height: auto;
        padding: 1em;
        grid-template-areas:
            "screen screen"
            "clear clear"
            "number operator";
        grid-gap: 0rem 1rem;
    }
    #screen {
        width: 100%;
        font-size: 16px;
        height: 50px;
        grid-area: screen;
        margin-right: 6px;
    }
    #clear {
        grid-area: clear;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.5em;
    }
    #number {
        grid-gap: 1.2em;
    }
    #operator {
        grid-area: operator clear;
        flex-direction: column;
        gap: 0.3em;
    }
    #number button, #operator button, #clear button {
        width: 50px;
        height: 40px;
        font-size: 16px;
    }
    #title h1 {
        font-size: 24px;
    }
    #title h2 {
        font-size: 12px;
        margin-bottom: 1em;
    }
    #links a {
        font-size: 14px;
    }

}